.btn {
  border-radius: 0px !important;
  color: #fff;
  &:hover {
    background-color:  #5fd400 !important;
  }
}

#nav-link {
  text-decoration: underline;
}

a.nav-link:hover {
  text-decoration: underline;
  color: white !important;
}

.main-header {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.main-footer {
  position: fixed;
  bottom: 0px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.nav-item {
  a.nav-active.line {
      text-decoration: underline;
    }
  a.nav-active.unline {
      text-decoration: none;
      cursor: not-allowed;
      opacity: 0.5;
    }
}

img {
  z-index: 9;
  width: 17% !important;
  position: fixed;
  right: 40px;
  top: 19px;
}

