<div class="theme-winter no-bg">
  <nav class="navbar custom-navbar bg-faded main-header px-3">
    <ul class="navbar-nav">
      <li class="nav-item">
          <a [routerLink]="['/login']"
          [routerLinkActive]="['nav-active']"
          [routerLinkActiveOptions]="{ exact: false }">&lt; Back to 
          <span class="navbar-text" id="nav-link">ferretly.com</span>
          </a>
      </li>
      <li class="nav-item" *ngIf="isSettingPage">
        <a [routerLink]="['/plan']"
           [routerLinkActive]="['nav-active']">1.Choose a plan</a>
      </li>
      <li class="nav-item" *ngIf="isSettingPage">
        <a [routerLink]="['/info']"
           [routerLinkActive]="['nav-active']">2.Your information</a>
      </li>
      <li class="nav-item" *ngIf="isSettingPage">
        <a [routerLink]="['/complete']"
           [routerLinkActive]="['nav-active']">3.Payment</a>
      </li>
    </ul>
    <span class="mr-auto"></span>
  
    <ul class="navbar-nav">
        <li class="nav-item" placement="bottom-right">
            <a class="nav-link">Not a member?</a>
        </li>
      <li class="nav-item" placement="bottom-right">
          <a class="btn btn-outline-success my-2 my-sm-0" routerLink="/plan" >Sign Up</a>
      </li>
    </ul>
  </nav>
      
  <router-outlet></router-outlet>

  <nav class="navbar custom-navbar main-footer small px-3">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link text-color" href="javascript:;">
          <span>Copyright 2018</span>. ferretly.com
        </a>
      </li>
    </ul>
  </nav>
</div>