.auth-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  .btn {
    border-radius: 0px !important;
    color: #fff;
    &:hover {
      background-color:  #5fd400 !important;
    }
  }
  
  #nav-link {
    text-decoration: underline;
  }
  
  a.nav-link:hover {
    text-decoration: underline;
    color: white !important;
  }

  
  .nav-item {
    a.nav-active.line {
        text-decoration: underline;
      }
    a.nav-active.unline {
        text-decoration: none;
        pointer-events: none;
        opacity: 0.5;
      }
  }
  
  .main-header {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    align-items: flex-start;
    padding-top: 15px;
    padding-left: 30px;
    .logo {
      width: 125px;
      height: 35px;
    }
  
  }
  
  .main-footer {
    height: 40px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }
  
  .main-wrapper {
    display: flex;
    flex: 1;
    padding-top: 20px;
    align-items: center;
    .main-content {
      flex: 1;
    }
  }
}