.payment-container {
    color: #ffffffb3;
    h1 {
        width: 100%;
        text-align: center;
    }
    .content {
        width: 100%;
        margin: 21px 0px;
    }
    form {
        width: 90%;
        margin: 13px auto 46px auto;
        input {
            width: 100%;
            &::placeholder {
                color: #4f5c69;
            }
        }
        .alert.alert-danger {
            background-color: transparent;
            border: none;
            padding: 0;
            color: red;
        }
        .custom-image {
            
            .i-paypal {
                width: 36%;
            }
            .i-credit {
                width: 54%;
            }
        }
        .border {
            width: 100%;
            margin: 62px 0;
            border-bottom: 1px solid #4f5c69 !important;
        }
        .custom-display {
            display: flex;
            width: 100%;
            margin: 25px auto 46px auto;
            .checkbox-label {
                .mark {
                    text-decoration: underline;
                    background: transparent;
                }
            }
        }
    } 
}

.btn-custom-login {
    color: white;
    font-size: 22px;
    padding: 5px 20px;
    width: 100%;
    border-radius: 0px !important;
    white-space: normal;
    &:hover {
      background-color: #5fd400;
    }
    &:disabled {
      color: gray;
      border-color: gray;
      background-color: transparent;
      cursor: not-allowed;
    }
    
}

@media (max-width: 425px) {
    h1 {
        font-size: 23px;
    }
    .border {
        display: none;
    }
    p {
        padding: 0 20px;
    }
    .btn-custom-login {
        line-height: 14px;
        font-size: 15px !important;
    }
    .i-paypal {
        width: 15vh;
    }
    .i-credit {
        width: 28vh;
    }
}