.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 128px);
    color: #ffffffb3;
    font-size: 17px;
    .row {
        font-size: 15px !important;
        line-height: 18px;
        h1 {
            width: 100%;
            text-align: center;
        }
        .content {
            width: 100%;
            margin: 21px 0px;
        }
        form {
            width: 79%;
            margin: 13px auto 46px auto;
            .custom-padding {
                padding: 0;
            }
            .custom-space {
                margin-right: 0;
            }
            .custom-image {
                margin-left: auto;
                .i-paypal {
                    width: 36%;
                    padding: 9px;
                }
                .i-credit {
                    width: 56%;
                }
            }
        }
        .border {
            width: 100%;
            margin: 0px 0px 40px 0px;
            border-bottom: 1px solid #4f5c69 !important;
        }
        .custom-display {
            display: flex;
            width: 79%;
            margin: 13px auto 64px auto;
            .checkbox-label {
                .mark {
                    font-weight: bold;
                    font-size: 16px;
                    background-color: transparent;
                }
            }
        }
        button {
            width: 100%;
            background-color: transparent !important;
            color: white;
            font-size: 19px !important;
            width: 87%;
            margin: auto;
            border-radius: 0px !important;
            &:hover {
                background-color: #5fd400 !important;
            }
            
        }
    }
}
@media only screen and (max-width: 768px) {
    .i-paypal {
        width: 15vh;
    }
    .i-credit {
        width: 28vh;
    }
}