<div class="row justify-content-center">
  <div class="col col-sm-10 col-md-8 col-lg-6">
    <div class="welcome-container">
      <div class="content">
        <h1>Welcome to ferretly!</h1>
        <div class="content-sm-1">
          <p>
            Thank you for signing up to ferretly for your social media background screening.
            A receipt has been sent to your email address below. Please use this email address
            whenever you login to ferretly via the link below or from the website.
          </p>
        </div>
        
      </div>

      <div class="border"></div>

      <div class="list">
        <div><span class="title-1">Account:</span> {{mail}}</div>
        <div><span class="title-2">Web URL:</span> https://app.ferretly.com/login <button class="btn btn-success btn-sm text-white btn-bookmark">Bookmark</button></div>
      </div>

      <div class="border"></div>

      <div class="col-12 custom-submit">
        <button class="btn btn-outline-success btn-block text-white btn-take" (click)="nextTo()">Take me to Ferretly</button>
      </div>

      <div class="content-sm-2">
        <p>
          You can contact support anytime at support@ferretly.com
          for any issue including issues with the setup and registration of your account.
        </p>
      </div>
    </div>
  </div>
</div>