<div class="container">
  <div class="row">
    <h1>Welcome to ferretly!</h1>
    <div class="content">
      <p>
        Thank you for signing up to ferretly for your social media background screening.
        A receipt has been sent to your email address below. Please use this email address
        whenever you login to ferretly via the link below or from the website.
      </p>
    </div>
    <span class="border"></span>
    <div class="list">
      <div><span class="title-1">Account:</span> {{mail}}</div>
      <div><span class="title-2">Web URL:</span> https://app.ferretly.com/login <button class="btn btn-success btn-sm text-white btn-bookmark">Bookmark</button></div>
    </div>
    <span class="border"></span>
    <button class="btn btn-outline-success btn-block text-white btn-take" (click)="nextTo()">Take me to Ferretly</button>
    <div class="content-2">
      <p>
        You can contact support anytime at support@ferretly.com 
        for any issue including issues with the setup and registration of your account.
      </p>
    </div>
  </div>
</div>