.welcome-container {
    color: #ffffffb3;
    padding: 0 20px;
    .content {
        width: 100%;
        margin: 15px 0px -5px 0px;
        h1 {
            width: 100%;
            text-align: center;
        }
        .content-sm-1 {
            font-size: 19px;
            line-height: 22px;
        }
    }
    .border {
        width: 100%;
        margin: 10px 0;
        border-bottom: 1px solid #4f5c69 !important;
    }
    .list {
        width: 100%;
        padding: 19px 44px;
        line-height: 42px;
        .title-1 {
            font-weight: bold;
            color: white;
            margin-right: 50px;
        }
        .title-2 {
            font-weight: bold;
            color: white;
            margin-right: 43px;
        }
    }
    .btn-bookmark {
        margin-left: 16px;
        background: #61b921;
        width: 125px;
        border-radius: 7px;
        border: 2px solid #61b921;
    }
    .btn-take {
        white-space: pre-wrap !important;
        border-radius: 0px !important;
        font-size: 19px;
        width: 90%;
        margin: 14px auto 0px auto;
        &:hover {
            background-color: #5fd400 !important;
        }
    }
    .content-sm-2 {
        width: 100%;
        margin: 21px 0px;
        font-size: 16px;
    }
}

@media (max-width: 425px) {
    .welcome-container {
        .content {
            h1 {
                font-size: 23px;
            }
            .content-sm-1 {
                font-size: 15px;
                line-height: 20px;
            }
        }
        .list {
            padding: 15px 10px;
            line-height: 31px;
            div {
                span {
                    margin-right: 15px;
                }
            }
            
        }
    }
    .content-sm-2 {
        font-size: 12px !important;
    }
    .border {
        display: none;
    }
    .btn-take {
        line-height: 14px;
        font-size: 15px !important;
    }
}