<div class="container">
  <div class="row content">
    <h1>Your are about to leave darkferret.com</h1>
    <h5>You will be visiting:</h5><br>
    <a class="link" href="#">https://www.instagram.com/p/Bf06FUBxG/</a>
    <div class="paragraph">
      <p>The link above leads to an external web page. By clicking on tje link, identifying elements
      such as IP address, browser/OS or location can become available to third parties.</p>
      <p>darkferret assumes no responsibility for its content.</p>
      <p>Remember, don't click on unknown links, download unverified software, or enter your credentials on unfamiliar sites.</p>
    </div>
    <button class="btn btn-success" (click)="nextTo();">Continue</button>
    <button class="btn btn-success" (click)="nextTo();">Cancel</button>
  </div>
  <div class="row footer">
    <nav class="navbar custom-navbar main-footer small px-3">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link text-color" href="javascript:;">
            <span>Copyright 2018</span>. ferretly.com
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>