<div class="group-container">      
    <form>
      <div class="group-body-container">
        <div class="input-container">
          <label class="input-logo">
            <img src="/assets/images/logo.png" class="logo-facebook">
          </label>
        </div>
        <div class="input-container">
          <label class="input-label">EMAIL ADDRESS</label>
          <input class="input-control" type="text">
        </div>
        <div class="input-container">
          <label class="input-label">PASSWORD</label>
          <div class="input-group">
            <input type="password" class="input-control">
            <!-- <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)"> -->
            <div class="input-group-prepend">
              <div class="input-group-button"><span class="input-group-text question">?</span></div>
            </div> 
          </div>
        </div>
      </div>
      <div class="action-container">
          <button class="btn btn-outline-success border-color" type="submit">Login</button>
      </div>
    </form>
  </div>