.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vh;
    height: calc(100vh - 128px);
    color: #ffffffb3;
    font-size: 17px;
    .row {
        h1 {
            width: 100%;
            text-align: center;
        }
        .content {
            width: 100%;
            margin: 21px 0px;
        }
        .list {
            width: 100%;
            ul {
                list-style: none;
                .checkmark {
                    background: white;
                    &::after {
                        top: 3px;
                        left: 3px;
                        width: 19px;
                        height: 19px;
                        border-radius: 50%;
                        background: #5fd400;
                    }
                }
            }
            .custom-radio-container {
                display: flex;
            }
            .custom-control-label::after {
                font-size: 17px !important;
                line-height: 17px !important;
                color: #5fd400 !important;
                top: 5px !important;
                left: 2px !important;
                width: 14px !important;
                height: 17px !important;
            }
            .custom-control-label::before {
                top: 0.25em !important;
            }
        }
        .btn-bookmark {
            margin-left: 16px;
            background: #61b921;
            width: 114px;
            height: 30px;
            border-radius: 7px;
            border: 2px solid #61b921;
        }
        .btn-take {
            border-radius: 0px !important;
            font-size: 19px !important;
            margin: 14px auto 0px auto;
            &:hover {
                background-color: #5fd400 !important;
            }
        }
    }
}