.plan-container {
    padding: 0 10px;
    color: #ffffffb3;
    h1 {
        font-weight: 400;
    }
    .description {
        font-size: 18px;
        line-height: 20px;
    }
    .plan-items-container {
        margin: 40px 0 25px 0;
        ul {
            list-style: none;
            .custom-radio-container {
                display: flex;
                .btn-bookmark {
                    color: white;
                    margin-left: 16px;
                    background: #61b921;
                    width: 13%;
                    height: 26px;
                    border-radius: 7px;
                    font-size: 11px;
                    border: 2px solid #61b921;
                }
            }
        }
    }
    .additional-credit-container {
        padding-bottom: 20px;
        .input-credit {
          background-color: transparent;
          border: 1px solid #ffffffb3;
          width: 100%;
          font-size: 14px;
          padding: 7px;
          margin-right: 10px;
          outline: none;
          color: #ffffffb3;
          &.disabled {
            cursor: not-allowed;
          }
        }
        .btn-add-credit {
          background-color: transparent;
          cursor: pointer;
          border-color: #5fd400;
          color: #ffffff;
          min-width: 150px;
          font-size: 16px;
          &:hover {
            background-color: #5fd400
          }
          &.disabled, &:disabled {
            border-color: rgba(255, 255, 255, 0.7);
            cursor: not-allowed;
            pointer-events: none;
            &:hover {
              background-color: transparent;
            }
          }
        }
    }
    .btn-continue {
        border-radius: 0px !important;
        font-size: 19px;
        margin: 14px auto 0px auto;
        white-space: normal;
        &:hover {
            background-color: #5fd400 !important;
        }
    }
}

@media (max-width: 425px) {
    .plan-container {
        padding: 0 20px;
    }
    h1 {
        font-size: 30px;
    }
    p {
        font-size: 15px;
    }
    .custom-radio {
        font-size: 15px;
    }
    .btn-continue {
        line-height: 14px;
        font-size: 15px !important;
    }
}