<div class="row justify-content-center">
  <div class="col col-sm-10 col-md-8 col-lg-6">
    <div class="info-container">
      <div class="col-12">
        <h1>Enter your account information</h1>
        <div class="content">
          <p>
            Use this page to enter your name, email address and choose a password. Your information will never be
            shared and you will remain completely anonymous including to any of the social media profile handles you
            choose to monitor.
            Please read our <a class="mark">privacy policy</a> to understand more about your privacy.
          </p>
        </div>
      </div>
      <div class="col-12">
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
          <div class="input-container input-group col-md-12 justify-content-center p-0">
            <div class="col-md-5 mx-auto">
              <input class="input-control text-white" type="text" name="firstname" id="firstname" 
                placeholder="First Name">
            </div>
            <div class="col-md-5 offset-md-1 mx-auto">
              <input class="input-control text-white" name="lastname" id="lastname" type="text"
                placeholder="Last Name">
            </div>
          </div>

          <div class="input-container input-group col-md-11 mx-auto">
            <input class="input-control text-white" type="text" name="companyName" id="companyName"
              placeholder="Company Name">
          </div>

          <div class="input-container input-group col-md-11 mx-auto">
            <input type="text" [(ngModel)]="myEmail" name="mailAddress" id="mailAddress" class="input-control text-white"
              formControlName="mailAddress" placeholder="Email address" required>
            <div *ngIf="f.mailAddress.invalid && (f.mailAddress.dirty || f.mailAddress.touched)" class="alert alert-danger">
              <span *ngIf="f.mailAddress.errors.required">Email Address must be filled!</span>
              <span *ngIf="f.mailAddress.errors.mailAddress">Email Address must be valid!</span>
            </div>
          </div>

          <div class="input-container input-group col-md-12 justify-content-center">
            <input class="input-control text-white col-md-5" type="password" name="password" id="password" placeholder="Password">
            <input class="input-control text-white col-md-5 offset-md-1" type="password" name="confirmPwd"
              id="confirmPwd" placeholder="Confirm password">
          </div>

          <div class="border"></div>

          <div class="checkbox-container custom-display">
            <label class="custom-checkbox">
              <input type="checkbox" name="checked" formControlName="checked" checked="checked" required>
              <span class="checkmark"></span>
            </label>
            <span class="checkbox-label">
              I acknowledge that I have read and accept the <span class="mark">terms of use</span> and consent to the
              <a class="mark">Privacy Policy</a>.
            </span>
          </div>

          <div class="action-container">
            <button class="btn btn-outline-success btn-custom-login" type="submit" [disabled]="!contactForm.valid">Create
              your account and go to payment</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>