.page-title {
  margin-bottom: 0;
}
.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.group-container {
  padding: 0 40px 20px;
  color: #ffffffb3;
  &:first-child {
    padding: 20px 40px;
  }
  .group-title {
    border-bottom: 1px solid #ffffffb3;
    padding-bottom: 10px;
  }
  .group-body-container {
    padding: 10px;
    font-size: 15px;
    .input-container {
      display: flex;
      flex-direction: column;
      padding: 10px 0;
      flex: 0 0 49%;
      .input-label {
        text-transform: uppercase;
      }
      .input-control {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #ffffffb3;
        outline: none;
        color: #ffffffb3;
        padding: 5px;
        font-size: 16px;
      }
    }
    .card-link {
      color: #69d500;
      text-decoration: underline;
      cursor: pointer;
      &:hover {
        cursor: pointer;
      }
    }
    .circle-chart-container {
      display: flex;
      align-items: center;
      justify-content: space-around;
      .background-comment-container {
        flex: 1 1 50%;
        p {
          margin-bottom: 0;
        }
      }
      .circle-chart {
        flex: 1 1 50%;
        display: flex;
      }
      .c100 > span {
        line-height: initial;
      }
      .c100.dark.green {
        margin-bottom: 10px;
        background-color: #828898;
        margin: auto;
      }
      .c100.dark:after {
        background-color: #495168;
      }
      .circle-chart-value {
        color: #828898;
        top: 1.4em;
        font-size: 28px;
      }
      .circle-chart-value-comment {
        color: #828898;
        font-size: 10px;
        top: 7.5em;
      }
      .sidebar-circle-chart-comment {
        color: #9195a0;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .comment {
      margin-bottom: 20px;
    }
    .additional-credit-container {
      padding-bottom: 20px;
      .input-credit {
        background-color: transparent;
        border: 1px solid #ffffffb3;
        width: 100%;
        font-size: 14px;
        padding: 7px;
        margin-right: 10px;
        outline: none;
        color: #ffffffb3;
        &.disabled {
          cursor: not-allowed;
        }
      }
      .btn-add-credit {
        background-color: transparent;
        cursor: pointer;
        border-color: #5fd400;
        color: #ffffff;
        min-width: 150px;
        font-size: 16px;
        &:hover {
          background-color: #5fd400
        }
        &.disabled, &:disabled {
          border-color: rgba(255, 255, 255, 0.7);
          cursor: not-allowed;
          &:hover {
            background-color: transparent;
          }
        }
      }
    }
  }
  .action-container {
    display: flex;
    .full-width {
      width: 100% !important;
    }
    .half-width {
      width: 50% !important;
    }
    button {
      background-color: transparent;
      cursor: pointer;
      border-color: #5fd400;
      color: #ffffff;
      margin: 0 10px;
      min-width: 150px;
      font-size: 16px;
      width: 100% !important;
      &:hover {
        background-color: #5fd400
      }
      &.disabled {
        border-color: rgba(255, 255, 255, 0.7);
        cursor: not-allowed;
        &:hover {
          background-color: transparent;
        }
      }
    }
  }
}
