.run-check-container {
  background-color: #333b4e;
  color: rgba(255, 255, 255, 0.7);
  padding: 3rem 2.5rem;

  .header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

    .logo {
      width: 60px;
      height: 60px;
    }

    .title {
      font-size: 34px;
      padding: 0 30px;
    }
  }

  .body-container {
    font-size: 14px;

    .comment {
      margin-bottom: 2rem;
    }

    .agreement-container {
      border: 1px solid;
      padding: 20px;
      overflow: auto;
      height: 300px;
      margin-bottom: 30px;

      .agreement-action-container {
        display: flex;
        align-items: center;

        .custom-checkbox {
          margin-bottom: 15px;
          font-size: 16px;
        }
      }

      .agreement-list-container {
      }
    }
  }

  .action-container {
    display: flex;
    justify-content: flex-end;

    button {
      background-color: transparent;
      cursor: pointer;
      border-color: #5fd400;
      color: #ffffff;
      margin: 0 10px;
      min-width: 150px;
      font-size: 16px;

      &:hover {
        background-color: #5fd400
      }

      &.disabled {
        border-color: rgba(255, 255, 255, 0.7);
        cursor: not-allowed;

        &:hover {
          background-color: transparent;
        }
      }
    }
  }
}
