<div class="container">
    <div class="row">
      <h1>Enter your payment information</h1>
      <div class="content">
        <p>
            Use this page to enter your credit card payment details.
            Please review the information prior to clicking submit. You are authorizing Ferretly International,
            LLC to charge your credit card card in the amount shown below based upon the plan you chose. You will
            be provided with the number of background search credits to your account which you can use at any time.
        </p>
      </div>
      <form>
        <div class="form-group">
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Name on Card">
        </div>
        <div class="form-row">
          <div class="form-group col-md-7">
              <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="Credit Card#">
          </div>
          <div class="form-group col-md-5">
              <input type="text" class="form-control" id="exampleFormControlInput3" placeholder="Discount Code">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-1">
              <input type="email" class="form-control" id="exampleFormControlInput5" placeholder="MM">
          </div>
          <div class="form-group col-md-1">
              <input type="email" class="form-control" id="exampleFormControlInput6" placeholder="YY">
          </div>
          <div class="form-group col-md-3">
              <input type="email" class="form-control" id="exampleFormControlInput6" placeholder="Security Code">
          </div>
          <div class="form-group col-md-7 text-right">
              <img src="../../../assets/images/paypal.png" class="i-paypal">
              <img src="../../../assets/images/credit-logos.png" class="i-credit">
          </div>
        </div>
      </form>
      <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
          <label class="custom-control-label" for="defaultUnchecked">
              I authorize the immediate payment of <span class="mark">$25 based on the Single Credit</span> plan chosen. 
              I understand that I will be billed immediately and there are no refunds.
          </label>
      </div>
      <span class="border"></span>
      <button class="btn btn-success">Create your account and go to payment</button>
    </div>
  </div>