.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vh;
    height: calc(100vh - 128px);
    color: #ffffffb3;
    font-size: 17px;
    .row {
        font-size: 15px !important;
        line-height: 18px;
        h1 {
            width: 100%;
            text-align: center;
        }
        .content {
            width: 100%;
            margin: 21px 0px;
            span {
                background: transparent;
                text-decoration: underline;
            }
        }
        form {
            width: 84%;
            margin: 13px auto 46px auto;
            input {
                border-radius: 0px !important;
                background: #fff !important;
            }
        }
        .border {
            width: 100%;
            margin: 10px 0;
            border-bottom: 1px solid #4f5c69 !important;
        }
        .custom-checkbox {
            margin: 31px 15px;
            font-size: 16px;
            .custom-control-label::before {
                border-radius: 0 !important;
                width: 20px;
                height: 20px;
            }
            .custom-control-label::after {
                border-radius: 0 !important;
                width: 20px;
                height: 20px;
            }
            span {
                background: transparent;
                text-decoration: underline;
            }
        }
        button {
            width: 100%;
            background-color: transparent !important;
            color: white;
            font-size: 19px !important;
            width: 87%;
            margin: auto;
            border-radius: 0px !important;
            &:hover {
                background-color: #5fd400 !important;
            }
            
        }
    }
}