<div class="container">
  <div class="row">
    <h1>Enter your account information</h1>
    <div class="content">
      <p>
        Use this page to enter your name, email address and choose a password. Your information will never be shared and you will remain completely anonymous including to any of the social media profile handles you choose to monitor.
        Please read our <span class="mark">terms of service</span> to understand more about your privacy.
      </p>
    </div>
    <form>
      <div class="form-row">
        <div class="form-group col-md-6">
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Bill">
        </div>
        <div class="form-group col-md-6">
            <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="Last name">
        </div>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="exampleFormControlInput3" placeholder="Company Name">
      </div>
      <div class="form-group">
          <input type="text" class="form-control" id="exampleFormControlInput7" placeholder="Mobile Phone Number">
        </div>
      <div class="form-group">
        <input type="email" class="form-control" id="exampleFormControlInput4" placeholder="Email address">
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
            <input type="password" class="form-control" id="exampleFormControlInput5" placeholder="Password">
        </div>
        <div class="form-group col-md-6">
            <input type="password" class="form-control" id="exampleFormControlInput6" placeholder="Confirm password">
        </div>
      </div>
    </form>
    <span class="border"></span>
    <div class="custom-control custom-checkbox">
        <input _ngcontent-c7 type="checkbox" class="custom-control-input" id="defaultUnchecked">
        <label class="custom-control-label" for="defaultUnchecked">
          I acknowledge that I haveg read and accept the <span _ngcontent-c21 class="mark">terms of use agreement</span> and consent to the Privacy Policy.
        </label>
    </div>
    <button class="btn btn-success">Create your account and go to payment</button>
  </div>
</div>